body {
	background-color: #26262b;
}
#bm{ 
	margin-left: 20%;
	color: white;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

/* ============== Chat box ===================== */

#chat_wrapper { /*This style used for change outer chat properties (like sizes)*/
    display: block;
	width: 90%;
	height: 700px;
    min-width: 500px; 
    margin-left: 5%;
	margin-right: 5%;
    border: 1px solid black; 
	background-color: #313138;
	
}
#chat_list{
	display: flex;
	float: right;
	flex-direction: column;
	justify-content: flex-end;
	width: 30%;
	height: 100%;
}
#chat_names{
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding-top: 5px;
}
#chat_panel{
	border-top: 1px solid black; 
	height: 42px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#curChat{
	width:500px;
	color:white;
	margin-left:5%;
	font-family: 'Open-sans', sans-serif;
	font-size:15px;
}
#chat_create{
	font-size: 48px;
	font-family: 'Raleway', sans-serif;
	color: white;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}
#chat_box {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#chat_input {
	max-height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
	border-right: 1px solid black;
}
#input_box {
	width: 100%;
	margin-right: 25px;
}
#text {
	height: 100%;
	margin: 8px;
	border-radius: 7px;
	padding-left: 5px;
}
#send_btn {
    margin-right: 0.6%;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}
#im {
	width: 20px;
	height: 20px;
	transform: rotate(270deg);
}

/* ============== Scroll ===================== */

.scrollable {
	height: 100%;
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid black; 
	border-right: 1px solid black;
}
.scrollable .showScroll::after {
    position: absolute;
    content: '';
    top: 5%;
    right: 7px;
    height: 90%;
    width: 3px;
    background: rgba(224, 224, 255, .3);
}
.scrollable .content-wrapper {
    width: 100%;
    height: 100%;
    padding-right: 50%;
    overflow-y: scroll;
}
.scroller {
    z-index: 5;
    cursor: pointer;
    position: absolute;
    width: 10px;
    border-radius: 5px;
    background: rgb(111, 111, 190);
    top: 0px;
    right: 3px;
    -webkit-transition: top .08s;
    -moz-transition: top .08s;
    -ms-transition: top .08s;
    -o-transition: top .08s;
    transition: top .08s;
}
.content {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ============== Messages ===================== */

.msg_box {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    padding: 3px;
    min-height: 60px;
    margin: 10px;
    margin-right: 25px;
    border: 1px solid black;
    background-color: #42373B;
	font-family: 'Open-sans', sans-serif;
	color: white;
}
.msg_box .msg_info_zone {
	min-width: 80px;
    width: 80px;
    border-right: 1px solid black;
	background-color: #42373B;
	color: white;
	border: 1px solid #42373B;
	border-radius: 25px;
}
textarea {
	margin-left:3px;
	margin-top:3.5px;
	width: 100%;
	height: 49px;
	max-height: 100px;
	outline: none;
	resize: none;
}
.msg_box {
	background-color: #42373B;
	border: 1px solid #4F4247;
	border-radius: 25px;
}
.msg_box .msg_info_zone .msg_icon {
    margin: 3px 10px 5px 13px;
    border: solid 1px #873a3a;
    float: left;
    width: 50px;
    height: 50px;
}
.msg_box .msg_info_zone .msg_icon {
    margin: 3px 10px 5px 13px;
    border: solid 1px gray;
    float: left;
    width: 50px;
    height: 50px;
}
.msg_box .msg_info_zone .msg_icon img {
    width: inherit;
    height: inherit;
}
.msg_box .msg_message_zone {
    padding-right: 15px;
    width: 100%;
	background-color: #42373B;
	color: white;
	border: 1px solid #4F4247;
	border-radius: 25px;
	overflow: hidden;
	padding-right: 15px;
}
.msg_box .name {
    display: inline;
    margin: 6px 5px 6px 15px;
	font-weight: 700;
    cursor: pointer;
}
.msg_box .msg_time {
    display: inline;
    margin: 5px 5px 6px 0x; 
    color: gray;
    font-size: 0.9em;
    font-style: italic;
}
.msg_box .msg {
    margin: 6px 5px 6px 15px;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.msg_box .msg a {
	color: #ade6e3;
}
.msg_box .msg a:visited {
	color: #ccade6;
}

/* ============== Channels ===================== */

.chaneel_pan {
	justify-content:center;
	width: 100%;
	display: flex;
	flex-direction: row;
}
.channel_pan_holder {
	width: 5px;
}
.channel_addu {
	margin-top: 7px;
	max-width:80px;
	min-width:80px;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	font-family: 'Open-sans', sans-serif;
	font-size: 45px;
	color: white;
	border: 1px solid white;
	transition-duration: 0.4s;
}
.channel_addu:hover{
	background-color: white;
	color: black;
}
.channel_select:hover{
	background-color: white;
	color: black;
}
.channel_select {
	margin-top: 7px;
	height: 60px;
	width:80%;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	font-family: 'Open-sans', sans-serif;
	font-size: 20px;
	white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
	color: white;
	border: 1px solid white;
	transition-duration: 0.4s;
}

/* ============== Footer ===================== */

#li{
	margin-left: 5%;
	color: white;
	float: left;
}
footer {
	margin-top: 30px;
	margin-right: 5%;
}
#exitAllBtn{
	float: right;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	font-family: 'Open-sans', sans-serif;
	font-size: 16px;
	white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
	color: white;
	border: 1px solid white;
	transition-duration: 0.4s;
}
#siteMapBtn{
	margin-right: 5px;
	float: right;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	font-family: 'Open-sans', sans-serif;
	font-size: 16px;
	white-space: nowrap;
    overflow: hidden;
	text-overflow: ellipsis;
	color: white;
	border: 1px solid white;
	transition-duration: 0.4s;
}
#exitAllBtn:hover{
	background-color: white;
	color: black;
}
#siteMapBtn:hover{
	background-color: white;
	color: black;
}

/* ============== User panel ===================== */

#exitBtn{
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}
#ex{
	width: 50px;
	height: 50px;
}
#cur_user_info {
	margin-right: 5%;
	float: right;
	width: 350px;
	height: 50px;
}
#cur_user_img {
	width: 50px;
	height: 50px;
	border: solid 1px gray;
}		
#cur_user_name {
	font-family: 'Open-sans', sans-serif;
	font-size: 15px;
	vertical-align:top;
	color: white;
}
#cur_user_id {
	font-family: 'Open-sans', sans-serif;
	font-size: 15px;
	color: gray;
	vertical-align:top;
}
#changeAvatarBtn{
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

/* ============== Other ===================== */

.colored_nickname {
	color: greenyellow;
	font-weight: bold;
}
.mention {
	color: lightgreen;
}
#msgsLoadingStr {
	color: gray;
	padding-top: 17px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 1.4em;
	border-right: 1px solid black;
}